* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f8f8f8;
  color: #333;
}

header {
  background-color: rgb(240, 11, 11);
  color: white;
  padding: 1rem;
  text-align: left;
}

#map {
  height: 600px;
  margin: 20px;
  border: 2px solid rgb(240, 11, 11);
  border-radius: 8px;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.label-kecamatan {
  font-size: 12px;
  color: #222;
  text-shadow: 1px 1px 2px #fff;
  pointer-events: none;
  text-align: center;
}